:root{
    --width: 426px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 30%);
}

#header{
    width: var(--width);
    font-family: Arial;
}

#header #title{
    color: hsl(0, 0%, 79%);
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0px;
}

.hr{
    border: 1px dashed hsl(0, 0%, 41%);
    margin-top: 3px;
    margin-bottom: 0px;
    width: var(--width);
}

#header #description{
    color: hsl(0, 0%, 79%);
    font-weight: bold;
    font-size: 1em;
    margin-top: 7px;
    margin-bottom: 0px;
}


#header #author{
    color: hsl(0, 0%, 79%);
    font-weight: lighter;
    font-size: 0.8em;
    margin-top: 5px;
}


#gallery{
    display: flex;
    width: var(--width);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid hsla(0, 0%, 79%, 0.24);
    background-color: rgb(147, 147, 147);
    /*padding: 10px;*/
}

.images{
    --divMax: max-content;
    height: 120px;
    width: 120px;
    border: 1px solid hsla(0, 0%, 79%, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
}

.images:hover{
    background-color: hsl(0, 0%, 62%);
}

.images img{
    height: 100%;
    width: auto;
    box-shadow: 2px 3px 7px black;
}

.images a{
    height: 100%;
    width: auto;
}

#smallFooter a{
    color: white;
    font-family: Arial;
    margin-right: 20px;
}

#smallFooter{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: var(--width);
    justify-content: end;
}

#smallFooter a{
    margin: 0px;
    margin-right: 10px;
    color: hsl(0, 0%, 79%)
}

.activePage{
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding: 7px;
    border-radius: 2px;
}

#smallFooter #pageNumbs a:hover{
    color: white;
}

#smallFooter #prevNext a{
    margin: 0px;
    font-weight: bold;
    margin-left: 10px;
}

#smallFooter #contact{
    margin-right: auto;
}

#footer{
    color: hsl(0, 0%, 60%);
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 5px;
    font-family: arial;
    position: absolute;
    bottom: 0px;
}