<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div id="header">
        <p id="title">{{title}}</p>
        <div class="hr"></div>
        <p id="description">{{description}}</p>
        <p id="author">{{author}}</p>
    </div>

    <div id="gallery">

        {{images}}

    </div>


    {{footerHr}}


    <div id="smallFooter">
        <div id="contact">
            {{contactAuthor}}
        </div>
    </div>

    {{watermark}}

</body>
</html>